.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-para-1 {
    font-size: 18px;
    font-weight: 500;
}

.header-para-2 {
    font-size: 15px;
    color: grey;
    margin-top: -10px;
}

.card-2-header {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-left: 15px;
    font-size: 20px;
}